<div class="sidebar col05">
    <section>
        <div class="heading">关于我</div>
        <div class="content">
            一个正在修炼的程序员
        </div>
    </section>
    <section>
        <div class="heading">分类</div>
        <div class="content">
            <ul id="select">
                {{range .types}}
                <li> >><a href="">{{.TypeName}}</a></li>
                {{end}}
            </ul>
        </div>
    </section>
    <section>
        <div class="heading">友情链接</div>
        <div class="content">
            <ul>
                <li>>><a href="https://github.com/Mushroom710">我的github地址</a></li>
                <li>>><a href="https://www.huas.edu.cn/">我的大学</a></li>
                <li>>><a href="http://106.14.82.240/">我的水果店</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="heading">明星文章</div>
        <div class="content star">
            {{range $idx,$val := .articles}}
            {{if lt $idx 3}}
            <section>
                <img src={{$val.Img}} />
                <h4><a id="{{$val.Id}}">{{$val.Title}}</a></h4>
                <p class="startArticle">{{$val.Content}}</p>
            </section>
            {{end}}
            {{end}}
        </div>
    </section>
</div>