<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="static/css/login.css"/>
	</head>
	<body>
		<div class="login_logo">
			
		</div>
		<form action="/register" method="post" class="login_form" name="login">
			<h1 class="login_title">用户注册</h1>
			<input type="text" name="userName" class="input_txt" placeholder="用户名"/>
			<input type="password" name="password" class="input_txt" placeholder="密码"/>
			<div class="remeber">
				<input type="checkbox" name="remeber"/>
				<label>记住用户名</label>
			</div>
			<input type="submit" value="注	册" class="input_sub"/>
		</form>
		<div class="login_bg">
			
		</div>
	</body>
</html>
