<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:8080/uploads" method="post" enctype="multipart/form-data">
        <!-- 加上 multiple="multiple" 这个属性，就可以上传多个文件，同时在接收的时候需要遍历接收-->
        <input type="file" name="file" id="file" multiple="multiple">
        <button type="submit">上传</button>
    </form>
</body>
</html>